<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
      </div>
      <div class="card-content">
        <h4>Burgers You Can Choose From:</h4>
        <hr>
        <ul>
          <ul>
            {{#each burgers}}

            {{#unless devoured}}
  
            
            <li>
              <span>
                {{this.burger_name}}
                
                <div>
                  <p>ID: {{id}}</p>
                  <form action="/burgers/{{id}}?_method=PUT" method="POST" class="complete">
                    <input type="hidden" name="devoured" value="1">
                    <button type="submit">Eaten!</button>
                  </form>
                </div>
              </span>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </ul>
        <script>
          fetch('/burgers')
            .then(res => res.json())
            .then(data => console.log(data));
          console.log(data);
        </script>
      </div>
    </div>
  </div>

  <div class="col s6"> 
    <div class="card">
      <div class="card-image">
      </div>
      <div class="card-content">
        <h4>The Burgers you've Eaten:</h4>
        <hr>
        <ul>
          {{#each burgers}}

          {{#if devoured}}
          <li>
            <span>
              {{this.burger_name}}
              <div>
                <form action="/burgers/{{id}}?_method=PUT" method="POST" class="complete">
                  <input type="hidden" name="devoured" value="1">
                  <button type="submit">Eaten!</button>
                </form>
              </div>
            </span>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s6 offset-s3">
    <h6>Put your favorite burger on the menu!</h6>
    <form class="create-update-form" action="/" method="POST">
      <div class="form-group">
        <label for="burger">List it here!</label>
        <input type="text" id="burger" name="burger_name" class="validate">
        <button type="submit" class="waves-effect waves-light btn btn-small black right"><i
            class="material-icons prefix"></i>Add Burger</button>
      </div>
    </form>
  </div>